@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-primary {
  background: #7367F0;
}

.text-primary {
  color: #7367F0 !important;
}

.sign-image {
  background: url('./images/sign-up.png') center no-repeat;
}

ul {
  list-style-type: none;
}